html,
body {
  height: 100%;
  margin:0;
  background-color:black;
}

/* about centering divs: https://www.joshwcomeau.com/css/center-a-div/  */
canvas {
  width:calc(min(75vw, 100vh));
  height:calc(min(75vw,100vh));
  position:fixed;
  inset:0px;
  max-width: 100vw;
  max-height: 100dvh;
  margin:auto;
  background-color:black;
}

h1 {
  position: absolute;
  color:#ccc;
  margin: 30px 30px;
}
