html,
body {
  height: 100%;
  margin:0
}

canvas {
  width:calc(min(75vw, 100vh));
  height:calc(min(75vw,100vh));
  margin-top:auto;
  margin-bottom:auto;
  margin-left:auto;
  margin-right:auto;
  display: block;
}

h1 {
  position: absolute;
  color:#ccc;
  margin: 30px 30px;
}
